/*
Color Palette
Navy Blue
#05445E

Blue Grotto
#189AB4

Blue Green
#75E6DA

Baby Blue
#D4F1F4
*/



.background {
    background-color: #189AB4;
}
.cards {
    background-color: #D4F1F4;
}

.tree {
    background-image: url('../img/tree.png');
}


#box {
    width: 33.3333%;
    margin-top: 15%;
}

#mac {
    width: 65%;
}

#game {
    width: 200px;
    height: auto;
}
#development {
    width: 200px;
    height: auto;
}

.img-tree {
    background-image: url('../img/tree.png');
    background-repeat: no-repeat;
    background-size: 700px auto;
    position: relative;
  }
  